absl-py==2.3.1
aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiosignal==1.4.0
asttokens==3.0.0
async-timeout==5.0.1
attrs==25.4.0
Bottleneck @ file:///C:/miniconda3/conda-bld/bottleneck_1761938096667/work
certifi==2025.11.12
charset-normalizer==3.4.4
colorama==0.4.6
comm==0.2.3
contourpy @ file:///C:/b/abs_f2u2o_8s9g/croot/contourpy_1732540071787/work
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
debugpy==1.8.17
decorator==5.2.1
exceptiongroup==1.3.0
executing==2.2.1
filelock==3.19.1
fonttools @ file:///C:/miniconda3/conda-bld/fonttools_1759754888458/work
frozenlist==1.8.0
fsspec==2025.9.0
grpcio==1.76.0
idna==3.11
intel-openmp==2021.4.0
ipykernel==7.1.0
ipython==8.37.0
jedi==0.19.2
Jinja2==3.1.6
joblib @ file:///C:/miniconda3/conda-bld/joblib_1757926370033/work
jupyter_client==8.6.3
jupyter_core==5.9.1
kiwisolver @ file:///C:/b/abs_faf90xet7a/croot/kiwisolver_1737040915779/work
llvmlite @ file:///C:/miniconda3/conda-bld/llvmlite_1760469322058/work
Markdown==3.10
MarkupSafe==2.1.5
matplotlib==3.10.6
matplotlib-inline==0.2.1
mkl==2021.4.0
mkl-service==2.5.2
mkl_fft @ file:///C:/miniconda3/conda-bld/mkl_fft_1761592981169/work
mkl_random @ file:///C:/miniconda3/conda-bld/mkl_random_1761593075610/work
mpmath==1.3.0
multidict==6.7.0
nest-asyncio==1.6.0
networkx==3.3
numba @ file:///C:/miniconda3/conda-bld/numba_1760991949285/work
numexpr @ file:///C:/miniconda3/conda-bld/numexpr_1762165723970/work
numpy @ file:///C:/b/abs_81ri0q57xq/croot/numpy_and_numpy_base_1755590863635/work/dist/numpy-1.26.4-cp310-cp310-win_amd64.whl#sha256=b6162b3d8f61a8b10293d275d39feb04e0969ade6c6fdf4251eb84d35b403681
packaging==25.0
pandas @ file:///C:/miniconda3/conda-bld/pandas_1762332399653/work/dist/pandas-2.3.3-cp310-cp310-win_amd64.whl#sha256=25368e0adc93a7db0f3983502b4e57344f71af8f45ca3849f7c3833738f306aa
parso==0.8.5
pillow==11.3.0
platformdirs==4.5.0
prompt_toolkit==3.0.52
propcache==0.4.1
protobuf==6.33.1
psutil==7.1.3
pure_eval==0.2.3
Pygments==2.19.2
pynndescent @ file:///C:/b/abs_fe0zik190a/croot/pynndescent_1753359115585/work
pyparsing @ file:///C:/miniconda3/conda-bld/pyparsing_1763973898118/work
PyQt6==6.9.1
PyQt6_sip @ file:///C:/miniconda3/conda-bld/pyqt-split_1757511038965/work/pyqt_sip
python-dateutil==2.9.0.post0
pytz @ file:///C:/b/abs_f8wdzeix0n/croot/pytz_1752135878094/work
PyYAML @ file:///D:/bld/pyyaml_1758891559676/work
pyzmq==27.1.0
requests==2.32.5
scikit-learn @ file:///C:/miniconda3/conda-bld/scikit-learn_1758619688314/work
scipy @ file:///C:/miniconda3/conda-bld/scipy_1759222090244/work/dist/scipy-1.15.3-cp310-cp310-win_amd64.whl#sha256=2c02ce5f7bc108a9dd2298fac421e55898c14864219396421ffe00419ec8c736
seaborn @ file:///C:/b/abs_0bv5x0ucxb/croot/seaborn_1749110315600/work
sip @ file:///C:/b/abs_f6ow8vlbb7/croot/sip_1756224172742/work
six==1.17.0
stack-data==0.6.3
sympy==1.13.1
tbb==2021.11.0
tensorboard==2.20.0
tensorboard-data-server==0.7.2
threadpoolctl @ file:///C:/b/abs_def0dwqlft/croot/threadpoolctl_1719407816649/work
tomli @ file:///C:/b/abs_88e598m6o8/croot/tomli_1753774604115/work
torch==2.5.1+cu121
torch-geometric==2.7.0
torchaudio==2.5.1+cu121
torchvision==0.20.1+cu121
tornado==6.5.2
tqdm @ file:///C:/miniconda3/conda-bld/tqdm_1762863407046/work
traitlets==5.14.3
typing_extensions==4.15.0
tzdata @ file:///croot/python-tzdata_1746123641790/work
umap-learn @ file:///C:/b/abs_92d1foxcue/croot/umap-learn_1686238283405/work
urllib3==2.5.0
wcwidth==0.2.14
Werkzeug==3.1.3
xxhash==3.6.0
yarl==1.22.0
